<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="de.evgeny.classico"
      android:versionCode="1"
      android:versionName="1.0">

      <uses-permission android:name="android.permission.INTERNET" /> 
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
      
    <application android:icon="@drawable/imslp" 
        android:label="@string/app_name"
        android:name="ClassicoApplication">
    
        <activity android:name=".MainActivity"
                  android:label="@string/app_name"
                  android:launchMode="singleTop"
                  android:theme="@style/Theme.GreenDroid.NoTitleBar">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />                
            </intent-filter>
			 
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable" />
        </activity>
        
        <activity android:name=".PartitureViewer"
                  android:theme="@android:style/Theme.NoTitleBar" />
                  
        <activity android:name=".ScoreList"
                  android:theme="@style/Theme.GreenDroid.NoTitleBar"/>

		 <provider android:name=".ComposerProvider"
                   android:authorities="de.evgeny.classico.composerprovider"/>
                   
         <activity android:name=".GestureActivity" 
                    android:theme="@android:style/Theme.NoTitleBar" />
                                    
                        
    </application>
    
    <uses-sdk android:minSdkVersion="8" />
</manifest> 